@media (min-width: 450px) {
  .app-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3.5%;
    overflow: auto;
    width: 100%;
  }
}

@media (min-width: 450px) {
  .activities-container {
    width: 80% !important;
    padding-bottom: 7.5% !important;
  }
}

@media (min-width: 810px) {
  .activities-container {
    width: 40% !important;
  }
}

.activities-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  overflow: auto;
  padding-bottom: 25%;
}

.myrequests-card {
  border-bottom: 2px solid rgba(47, 51, 51, 0.08);
}

.requester-name-card {
  object-fit: cover;
  display: flex;
  text-transform: capitalize;
  font-weight: lighter;
  color: #808080;
  margin-top: 5px;
  font-size: 12px;
}

.requester-btn-div {
  margin: 0 5%;
}

.requester-btn-div p {
  text-align: start;
  margin: 1% 0;
}

.requester-profile-pic {
  width: 75px;
  height: 75px;
  border: 1px solid rgba(152, 152, 152, 0.15);
  margin: 10px;
  object-fit: cover;
}

.petition-span {
  width: 130px;
  max-height: 80px;
  object-fit: cover;
  display: flex;
  text-transform: capitalize;
  font-weight: lighter;
  color: #ffffff;
  margin-top: 5px;
  padding: 5px;
  background-color: $green;
  border-radius: 5px;
  font-weight: bold;
}
.petitions-btn {
  display: flex;
  margin: 10px auto;
  width: 50%;
}
.petition-span-btn {
  width: 80px;
  margin: 0 5px;
  max-height: 80px;
  object-fit: cover;
  display: flex;
  text-transform: capitalize;
  font-weight: lighter;
  color: #fff;
  margin-top: 5px;
  padding: 5px;
  background-color: $green;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

//BIO
.user-profile-stats {
  width: 80px;
  height: auto;
  background: white;
  border-radius: 50%;
  border: 2px solid $font;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 5% 0 5%;
}

.profile-stats span {
  font-weight: bold;
  font-size: 1.2em;
}

@media (min-width: 780px) {
  .profile-stats-card {
    width: 90% !important;
  }
}

.profile-stats-card {
  // height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 5% 0 3.5% 0;
  border: 1.5px solid rgba(47, 51, 51, 0.08);
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 8px 2px rgba(201,197,201,0.85);
  -moz-box-shadow: 4px 4px 8px 2px rgba(201,197,201,0.85);
  box-shadow: 4px 4px 8px 2px rgba(201,197,201,0.85);
  width: 90%;
}

.profile-stats-card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin: 2.5% 0 2.5% 0;
}

@media (min-width: 780px) {
  .title-container {
    width: 50% !important;
  }
}

.title-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  padding: 0 2.5% 0 2.5%;
}

.title {
  padding: 5px;
  border-radius: 7px;
  text-align: start;
  font-size: 16px;
  vertical-align: middle;
}

@media (min-width: 780px) {
  .icon-container {
    width: 42.5% !important;
  }
}

.icon-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 25%;
  padding: 0 2.5% 0 2.5%;
}

@media (min-width: 450px) {
  .arrow-button {
    width: 20% !important;
  }
}

@media (min-width: 780px) {
  .arrow-button {
    width: 7.5% !important;
  }
}

.arrow-button {
  padding: 0;
  width: 40%;
  margin-top: 2.5%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.arrow-icon {
  width: 100%;
}

.profile-stats-card h2 {
  margin: 20px 0 10px 20px;
  text-align: center;
  font-size: 1.2em;
}

.profile-stats-card #selector {
  width: 100%;
  margin: 10px 0;
}

.inserted-stat {
  color: #808080;
  margin: 0 20px;
  font-size: 1.2em;
  text-align: start;
}

.badges {
  position: relative;
  border-radius: 30px 30px 0 0;
}

.badge-img {
  width: 35px;
}

.badges ul {
  flex-direction: row;
  padding-inline-start: 0;
  list-style: none;
  justify-content: space-around;
  height: 10vh;
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 12px;
  padding-top: 5px;
}

.badges ul li {
  margin: 0;
  text-align: center;
}

.badges ul li a {
  text-decoration: none;
  color: $font;
}

.badges ul li a img {
  width: 4.5vh;
  margin: 0 auto 5px auto;
  display: block;
}
@media(max-width: 350px){
  .requests-count {
    display: none;
  }
}

