.btn-topbar {
  width: auto;
  border-radius: 8px;
  font-size: 1.5em;
  margin: 10px auto;
  display: block;
  text-decoration: none;
  background-color: $green;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(47, 51, 51, 0.03);
  border: 1px solid rgba(47, 51, 51, 0.08);
}

.btn {
  border-radius: 8px;
  margin: auto;
  display: block;
  text-decoration: none;
  background-color: $green;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(47, 51, 51, 0.03);
  border: 1px solid rgba(47, 51, 51, 0.08);
}


.btn-yellow {
  border-radius: 8px;
  margin: auto;
  display: block;
  text-decoration: none;
  background-color: #F1C40F;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(47, 51, 51, 0.03);
  border: 1px solid rgba(47, 51, 51, 0.08);
}


.btn-red {
  border-radius: 8px;
  margin: auto;
  display: block;
  text-decoration: none;
  background-color: #E74C3C;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(47, 51, 51, 0.03);
  border: 1px solid rgba(47, 51, 51, 0.08);
}

