viewport-with-navbar {
  margin: 0 0 12vh 0;
  padding: 16px;
}

@media (min-width: 750px) {
  .viewport-with-navbar {
    margin: 0 0 12vh 0;
    padding: 16px;
    width: 55vw;
    align-self: center;
  }
}

#newpreference-btn{
	display:flex;
	border-radius: 25px;
	margin: 0 auto;
	background-color: #4CAF50;
	border: none;
	cursor:pointer;
}

#newpreference{
	display: flex;
	flex-flow: column nowrap;
	box-shadow: 0 0 8px 8px rgba(47, 51, 51, 0.03);
	background-color: white;
	padding: 5px;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

#type{
	display:flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-between;
}

.list{
	display: flex;
	flex-flow: column nowrap;
}

.preference{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(47, 51, 51, 0.03);
	border-bottom: 2px solid rgba(47, 51, 51, 0.08);
	align-items: center;
	margin: 4vh 0;
}

.description{
	display:flex;
	flex-grow:7;
}

.edit{
	display:flex;
	flex-direction:row;
	flex-grow:1;
}

.preference img{
	margin: 10%;
}

.map-filters li{
	width: 40px !important;
}

.map-filters img{
	width: 90% !important;
}

.MuiFormControl-marginNormal{
	margin-top: 4px !important;
	margin-bottom: 16px !important;
}
