/* Homepage
  =============== */
.home_banner {
  display: flex;
  margin: 0 5%;
}

.hp-section-1 {
  flex-direction: row;
}

.signup-mobile {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: stretch;
  min-width: 150px;
  padding: 5px;

  a {
    padding: 10px 8px;
  }

}

@media (min-width: 750px) {
  .signup-mobile {
    display: none;
  }
}
